<!DOCTYPE html>
<html>
<head>
    <title>Upload Multiple files to Google Cloud Storage straight from browser</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        /**
         * Posts some data to url after upload
         * @param key Datastore Entity key (urlsafe)
         */
        function postUploadHandler(key) {
            $.post('/postdownload',
                {
                    key: key
                })
        }

        /**
         * Ajax request to Google Cloud Storage
         * @param url: signed url returned from server
         * @param file: file object which will be uploaded
         * @param key: database key
         */
        function upload(file, info) {
            $.ajax({
                url: info.url,
                type: 'PUT',
                data: file,
                contentType: "multipart/form-data",
                crossDomain: true,
                processData: false,
                success: function () {
                    var link = window.location.origin + "/" + info.token
                    var copyTag = $('<a>').attr('href', '#').attr('onclick', 'copyToClipboard("' + link + '")').text('Copy')

                    // var linkTag = $('<a>').attr('href', info.token).text('Download')

                    $('#' + info.token).html(copyTag.prop('outerHTML') + ' ' + link + ' ' + file.name)
                    // postUploadHandler(key)
                },
                error: function(xhr, status, err) {
                  console.log("error", xhr.responseText)
                  console.log("error", err.Message)
                }
            });
        }

        /**
         * Used as callback in Ajax request (to avoid closure keeping state)
         */
        var uploadCallback = function (file) {
            return function (info) {
                var loading = $('<p>').attr('id', info.token).text(file.name + ' Uploading...')
                $('#messages').append(loading)
                upload(file, info);
            }
        };

        /**
         * After selecting files and clicking Open button uploading process is initiated automatically
         * First request to get signed url is made and then actual upload is started
         * @param files: selected files
         */
        function handleFiles(files) {
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var filename = file.name;
                $.post("/upload", {
                        filename: filename,
                        content_type: file.type
                    },
                    uploadCallback(file)
                );
            }
        }

        function copyToClipboard(str) {
          const el = document.createElement('textarea');
          el.value = str;
          document.body.appendChild(el);
          el.select();
          document.execCommand('copy');
          document.body.removeChild(el);
        };

    </script>
</head>
<body>

<form action="/" method="POST" enctype="multipart/form-data">
    Select files: <input type="file" name="file" multiple onchange="handleFiles(this.files)">
</form>

<div id="messages">
</div>

<!--
<form action="https://storage.googleapis.com/YOUR_BUCKET_NAME"
      method="post" enctype="multipart/form-data">
  <input name="key" type="text" value="objectName.txt" /><br/>
  <input name="file" type="file" /><br/>
  <input type="submit" value="Upload!" />
</form>
-->

</body>
</html>
